In [26]:
import pandas as pd
# data = pd.read_csv('''C:/Users/NGAN/Documents/GitHub/DW/btl_dw.csv''',header=0)

In [4]:
# js = data.head(50).to_dict(orient='records')

In [6]:
with open('data.js', 'w') as f:
    f.write(str(js))

In [27]:
js = {'loan_amnt': 10000.0, 'term': 36, 'int_rate': 11.44, 'installment': 329.48, 'annual_inc': 117000.0, 'dti': 26.24, 'open_acc': 16.0, 'pub_rec': 0.0, 'revol_bal': 36369.0, 'revol_util': 41.8, 'total_acc': 25.0, 'mort_acc': 0.0, 'pub_rec_bankruptcies': 0.0, 'loan_repaid': 1, 'A2': 0, 'A3': 0, 'A4': 0, 'A5': 0, 'B1': 0, 'B2': 0, 'B3': 0, 'B4': 1, 'B5': 0, 'C1': 0, 'C2': 0, 'C3': 0, 'C4': 0, 'C5': 0, 'D1': 0, 'D2': 0, 'D3': 0, 'D4': 0, 'D5': 0, 'E1': 0, 'E2': 0, 'E3': 0, 'E4': 0, 'E5': 0, 'F1': 0, 'F2': 0, 'F3': 0, 'F4': 0, 'F5': 0, 'G1': 0, 'G2': 0, 'G3': 0, 'G4': 0, 'G5': 0, 'verification_status_Source Verified': 0, 'verification_status_Verified': 0, 'application_type_INDIVIDUAL': 1, 'application_type_JOINT': 0, 'initial_list_status_w': 1, 'purpose_credit_card': 0, 'purpose_debt_consolidation': 0, 'purpose_educational': 0, 'purpose_home_improvement': 0, 'purpose_house': 0, 'purpose_major_purchase': 0, 'purpose_medical': 0, 'purpose_moving': 0, 'purpose_other': 0, 'purpose_renewable_energy': 0, 'purpose_small_business': 0, 'purpose_vacation': 1, 'purpose_wedding': 0, 'OTHER': 0, 'OWN': 0, 'RENT': 1, '05113': 0, '11650': 0, '22690': 1, '29597': 0, '30723': 0, '48052': 0, '70466': 0, '86630': 0, '93700': 0, 'earliest_cr_year': 1990},
x_test = pd.DataFrame(data=js)
x_test

,loan_amnt,term,int_rate,installment,annual_inc,dti,open_acc,pub_rec,revol_bal,revol_util,...,05113,11650,22690,29597,30723,48052,70466,86630,93700,earliest_cr_year
0,10000.0,36,11.44,329.48,117000.0,26.24,16.0,0.0,36369.0,41.8,...,0,0,1,0,0,0,0,0,0,1990

In [32]:
x_test.shape

(1, 79)

In [8]:
from tensorflow.keras.models import load_model
model = load_model('''C:/Users/NGAN/Documents/GitHub/DW/full_data_project_model.h5''')

In [18]:
x_test.drop(['loan_repaid'],axis=1).values.reshape(1,78)

array([[1.0000e+04, 3.6000e+01, 1.1440e+01, 3.2948e+02, 1.1700e+05,
        2.6240e+01, 1.6000e+01, 0.0000e+00, 3.6369e+04, 4.1800e+01,
        2.5000e+01, 0.0000e+00, 0.0000e+00, 0.0000e+00, 0.0000e+00,
        0.0000e+00, 0.0000e+00, 0.0000e+00, 0.0000e+00, 0.0000e+00,
        1.0000e+00, 0.0000e+00, 0.0000e+00, 0.0000e+00, 0.0000e+00,
        0.0000e+00, 0.0000e+00, 0.0000e+00, 0.0000e+00, 0.0000e+00,
        0.0000e+00, 0.0000e+00, 0.0000e+00, 0.0000e+00, 0.0000e+00,
        0.0000e+00, 0.0000e+00, 0.0000e+00, 0.0000e+00, 0.0000e+00,
        0.0000e+00, 0.0000e+00, 0.0000e+00, 0.0000e+00, 0.0000e+00,
        0.0000e+00, 0.0000e+00, 0.0000e+00, 0.0000e+00, 1.0000e+00,
        0.0000e+00, 1.0000e+00, 0.0000e+00, 0.0000e+00, 0.0000e+00,
        0.0000e+00, 0.0000e+00, 0.0000e+00, 0.0000e+00, 0.0000e+00,
        0.0000e+00, 0.0000e+00, 0.0000e+00, 1.0000e+00, 0.0000e+00,
        0.0000e+00, 0.0000e+00, 1.0000e+00, 0.0000e+00, 0.0000e+00,
        1.0000e+00, 0.0000e+00, 0.0000e+00, 0.0000e+00, 0.0000e+00,
        0.0000e+00, 0.0000e+00, 1.9900e+03]])

In [22]:
model.predict(x_test.drop(['loan_repaid'],axis=1).values.reshape(1,78))[0][0]

1/1 [==============================] - 0s 40ms/step

1.0